* {
    margin: 0;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
	width: 70%;
	margin: 0 auto;	
}

.content {
	padding: 20px;
	min-height: 500px;
}

h1 {
    padding: 30px 0;
    text-align: center;
}

#menu {
	background: #639;
	color: #FFF;
	height: 45px;
	padding-left: 18px;
	border-radius: 10px;	
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 90%;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
}
#menu a {
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #639;
	background: #F2F2F2;
}

footer {
	width: 100%;
	background: #639;
	color: #FFF;
	min-height: 45px;
	position: relative;	
	bottom: 0;
	padding-top: 5px;
}

footer p {
	text-align: center;
	margin:20px 0;
}

figure {
	width: 100px !important;
    margin: 20px auto;
    display: block;
}

@media screen and (max-width: 412px) {
	footer {
		width: 100%;
		background: #639;
		color: #FFF;
		min-height: 45px;
		position: relative !important;	
		bottom: -10vh;
	}

	footer p {
		padding: 20px 0;
	}
}